# игнорируем папку config и ее содержимое
config/
# игнорируем все папки с кешом и их содержимым
**/__pycache__/
# игнорируем все папки с расширением .log
*.log
# за исклчением файла model.log
!model.log

